split-button-lr {
	width: var(--split-button-size);
	height: var(--split-button-size);
	overflow: hidden;
	background-color: gray;
	opacity: 0;
	cursor: cell;
	transition: var(--transition-duration);
	z-index: 3;
}

split-button-lr {
	position: absolute;
	right: 0;
	bottom: 0;
	border-radius: var(--radius) 0 0 0;
}

@media (hover: hover) and (pointer: fine) {
	split-button-lr:hover {
		opacity: 0.5;
	}
}