split-button-ul {
	width: var(--split-button-size);
	height: var(--split-button-size);
	overflow: hidden;
	background-color: gray;
	opacity: 0;
	cursor: cell;
	transition: var(--transition-duration);
	z-index: 3;
}

split-button-ul {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0 0 var(--radius) 0;
}

@media (hover: hover) and (pointer: fine) {
	split-button-ul:hover {
		opacity: 0.5;
	}
}