v-box {
	display: flex;
	flex-direction: column;
	flex: 1 0 0px;
	margin: 0;
	padding: 0;
	gap: var(--text-padding)
}

collapsible-element {
	display: block;
	flex: 0 0 auto;
	overflow: hidden;
	background-color: rgba(255,  255, 255, 0.03);
	border: 1px solid rgba(255,  255, 255, 0.03);
	border-radius: var(--radius);
}

collapsible-button {
	display: block;
	white-space: nowrap;
	padding: var(--text-padding);
}

collapsible-button:hover {
	background-color: rgba(255,  255, 255, 0.03);
}

collapsible-button::before {
	display: inline-block;
	margin-right: 10px;
	content: '';
	width: calc(var(--font-size) / 2);
	height: calc(var(--font-size) / 2);
	right: 0;
	border: 1px solid var(--text-color);
	border-width: 0 2px 2px 0;
}

collapsible-button[state=open]::before {
	transform: translateY(-40%) translateX(40%) rotate(45deg);
}

collapsible-button[state=closed]::before {
	transform: rotate(-45deg);
}

collapsible-content-container {
	display: block;
	margin: 0px;
	padding: var(--text-padding);
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

tool-tip {
	position: fixed;
	pointer-events: none;
	opacity: 0;
	left: 8px;
	top: 8px;
	background-color: rgba(0, 0, 0, 0.6);
	border: 1px solid rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(73px);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
	border-radius: var(--radius);
	padding: 6px;
	z-index: 100;
	animation: fadeIn 0.1s ease 0.5s;
	animation-fill-mode: forwards;
}

kbd.api-text {
	color: rgb(110, 123, 110);
	font-weight: bold;
}

grid-2col {
	display: grid;
	grid-auto-flow: row;
	row-gap: 2px;
	column-gap: 8px;
	align-items: center;
	grid-template-columns: max-content auto;
}

grid-2col> :nth-child(odd) {
	justify-self: end;
}

grid-2col> :nth-child(even) {
	justify-self: auto;
}

ptp-chat-content {
	display: flex;
	flex-direction: column;
	flex: 1 1 1px;
	overflow: auto;
	padding: 10px;
	gap: 4px;
}

ptp-message-element {
	display: flex;
	flex-direction: column;
	flex: 0 0 0px;
	overflow: visible;
	gap: 2px;
	width: calc(100% - 50px);
	padding: 6px;
	
	border: 1px solid rgb(70, 70, 70);
	border-radius: var(--radius);
}

ptp-message-element > h6 {
	margin: 0;
	padding: 0;
}

ptp-message-element > p {
	margin: 0;
	padding: 0;
    user-select: all;
}

ptp-message-element:state(own) {
	align-self: flex-end;
	background-color: rgb(60, 60, 60);
	border-bottom-right-radius: 0;
}

ptp-message-element:state(other) {
	align-self: flex-start;
	background-color: rgb(50, 50, 50);
	border-bottom-left-radius: 0;
}

.ptp-text-input {
	display: flex;
	margin: 10px;
	gap: 10px;
	align-items: center;
	flex: 0 0 1px;
	box-sizing: border-box; 
}


.ptp-text-input > input[type="text"] {
	flex: 1 1 1px;
	padding: 6px;
	color: var(--text-color);
	background-color: rgb(50, 50, 50);
	border: 1px solid rgb(70, 70, 70);
	border-radius: var(--radius);
	min-width: none;
	width: 0px;
}

.ptp-text-input > input[type="text"]:hover {
	background-color: rgb(60, 60, 60);

}

.ptp-text-input > input[type="text"]:focus {
	outline: 1px solid rgb(70, 70, 70);
}

.ptp-text-input > input[type="submit"] {
	padding: 6px;
	margin: 0px;
	border: 1px solid rgb(70, 70, 70);
	border-radius: var(--radius);
	color: var(--text-color);
	background-color: rgb(50, 50, 50);
}

.ptp-text-input > input[type="submit"]:hover { 
	background-color: rgb(60, 60, 60);
	cursor: pointer;
}