file-system-panel {
	display: flex;
	flex-direction: column;
	flex: 1 0 0px;
	overflow: auto;
	background-color: var(--pane-background-color);
	padding: 4px;
}

performance-panel {
    display: flex;
    flex: 1 1 0px;
}

performance-panel>canvas {
	display: block;
	width: 100%;
	flex: 1 1 1px;
}

api-panel {
	display: block;
	background-color: var(--pane-background-color);
}

svt-panel {
	display: flex;
    flex: 1 1 0px;
}

svt-panel>canvas {
	display: block;
	width: 100%;
	flex: 1 1 1px;
}