outliner-pane {
	display: block;
	width: 100%;
	height: 100%;
	background-color: var(--pane-background-color);
}

ptp-chat {
	display: flex;
	flex: 1 1 0px;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: var(--pane-background-color);
}

viewport-pane {
	display: flex;
	flex-direction: column;
	flex: 1 1 1px;
}

viewport-pane>canvas {
	display: block;
	width: 100%;
	height: 1px;
	flex: 1 1 1px;
}

animation-pane {
	container-type: size;
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1 1 1px;
}

animation-pane>canvas {
	display: block;
	width: 100%;
	height: 1px;
	flex: 1 1 1px;
}

pane-selector-pane {
	display: block;
	width: 100%;
	height: 1px;
	flex: 1 1 1px;
	background-color: var(--pane-background-color);
}

debug-pane {
	display: flex;
	width: 100%;
	height: 1px;
	flex: 1 1 1px;
}

output-pane {
	display: flex;
	flex-direction: column;
	flex: 1 0 0px;
	overflow: auto;
	background-color: var(--pane-background-color);
	padding: 4px;
}