splash-screen {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.splashScreenContainer {
    display: flex;
    flex-direction: column;
    width: max-content;
    height: min-content;
    min-width: 25vw;
    background-color: rgba(0, 0, 0, 0.6);
	border: 1px solid rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(73px);
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    border-radius: calc(var(--radius) * 4);
    padding: 18px;
    pointer-events: all;
    overflow: hidden;
}

.splashEntryTable {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 10vh;
    overflow: auto;
}

.splashRow {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding: var(--var-padding) 4px;

}

.splashRow:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

