#wrapper {
	flex: 1 1 0%;
}

split-pane-container {
	display: flex;
}

split-pane-container[split-pane-container-orientation="none"] {
	flex-direction: unset;
}

split-pane-container[split-pane-container-orientation="vertical"] {
	flex-direction: row;
}

split-pane-container[split-pane-container-orientation="horizontal"] {
	flex-direction: column;
}

splitable-pane {
	position: relative;
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	min-width: calc(var(--pane-stripe-hight) * 2);
	min-height: calc(var(--pane-stripe-hight) * 2);
	overflow: hidden;
	border-radius: var(--radius);

	outline: 1px solid rgba(255, 255, 255, 0.05);
	outline-offset: -1px;
}

@media (hover: hover) and (pointer: fine) {
	splitable-pane:hover {
		outline-color: rgba(255, 255, 255, 0.075);
	}
splitable-pane:hover > pane-stripe {
	background-color: var(--pane-stripe-hover-color);
}
}

split-pane-divider {
	background-color: var(--split-pane-divider-color);
	flex-shrink: 0;
	flex-grow: 0;
}

split-pane-divider[split-pane-divider-orientation="vertical"] {
	width: var(--split-pane-divider-size);
	min-width: var(--split-pane-divider-size);
	height: 100%;
}

split-pane-divider[split-pane-divider-orientation="horizontal"] {
	height: var(--split-pane-divider-size);
	min-height: var(--split-pane-divider-size);
	width: 100%;
}

split-pane-grabber {
	display: flex;
	position: relative;
	z-index: 2;
	background-color: none;
}

split-pane-grabber[split-pane-divider-orientation="vertical"] {
	left: calc(var(--split-pane-divider-size) / 2 - var(--split-pane-grabber-size) / 2);
	min-width: var(--split-pane-grabber-size);
	height: 100%;
	cursor: ew-resize;
}

split-pane-grabber[split-pane-divider-orientation="horizontal"] {
	top: calc(var(--split-pane-divider-size) / 2 - var(--split-pane-grabber-size) / 2);
	min-height: var(--split-pane-grabber-size);
	width: 100%;
	cursor: ns-resize;
}

pane-stripe {
	display: flex;
	flex-direction: row;
	flex: 0 0;
	flex-basis: content;
	align-items: center;
	padding: 2px;
	box-sizing: border-box;
	background-color: var(--pane-stripe-color);
	overflow-x: auto;
	overflow-y: visible;
}

split-button-ul,
split-button-ur,
split-button-ll,
split-button-lr {
	width: var(--split-button-size);
	height: var(--split-button-size);
	overflow: hidden;
	background-color: gray;
	opacity: 0;
	cursor: cell;
	transition: var(--transition-duration);
	z-index: 3;
}

split-button-ul {
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 0 0 var(--radius) 0;
}

split-button-ur {
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 0 0 0 var(--radius);
}

split-button-ll {
	position: absolute;
	bottom: 0;
	left: 0;
	border-radius: 0 var(--radius) 0 0;

}

split-button-lr {
	position: absolute;
	right: 0;
	bottom: 0;
	border-radius: var(--radius) 0 0 0;
}

@media (hover: hover) and (pointer: fine) {
split-button-ul:hover,
split-button-ul:active,
split-button-ur:hover,
split-button-ll:hover,
split-button-lr:hover {
	opacity: 0.5;
}
}