collapsible-element {
	display: block;
	flex: 0 0 auto;
	overflow: hidden;
	background-color: rgba(255,  255, 255, 0.03);
	border: 1px solid rgba(255,  255, 255, 0.03);
	border-radius: var(--radius);
}

collapsible-button {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: var(--var-padding);
	white-space: nowrap;
	padding: 1px;
	background-color: rgba(255,  255, 255, 0.03);
}

collapsible-button:hover {
	background-color: rgba(255,  255, 255, 0.05);
}

collapsible-button::before {
	display: inline-block;
	box-sizing: content-box;
	content: '';
	margin-right: 5px;
	margin-left: 3px;
	width: calc(var(--font-size) / 2);
	height: calc(var(--font-size) / 2);
	border: 1px solid var(--text-color);
	border-width: 0 1.5px 1.5px 0;
}

collapsible-button[state=open]::before {
	transform: translateY(-40%) translateX(40%) rotate(45deg);
}

collapsible-button[state=closed]::before {
	transform: rotate(-45deg);
}

collapsible-content-container {
	display: block;
	margin: 0px;
	padding: var(--var-padding);
}
