footer-element {
	display: flex;
	z-index: 1;
	flex: 0 0 content;
	gap: 4px;
	align-items: center;
	background-color: none;
	overflow-x: auto;
	box-sizing: border-box;
    padding: 2px;
	background-color: var(--split-pane-divider-color);
}

footer-element::before {
    content: "";
    display: inline-block;
    width: calc(18px + var(--var-padding));
    aspect-ratio: 1;
    margin-left: 8px;
    margin-right: 4px;
    background-image: url('/favicon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
}

footer-element > div {
    display: inline-flex;
    flex: 0 0 content; 
    background-color: none;
}

footer-element > .middle {
    flex: 1 1 auto;
}