iconed-toggle-button {
	display: flex;
	align-items: center;
	padding: var(--var-padding);
	margin: 0px;
	border-radius: var(--radius);
}

iconed-toggle-button svg {
	stroke: var(--text-color);
}

iconed-toggle-button:hover {
	background-color: rgb(70, 70, 70);
}