iconed-toggle-button {
	display: flex;
	align-items: center;
	padding: 2px;
	margin: 2px;
	border-radius: var(--radius);
}

iconed-toggle-button svg {
	stroke: black;
}

iconed-toggle-button:hover {
	background-color: rgb(60, 60, 60);
}