wrapping-pane {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 100dvw;
	height: 100dvh;
	max-width: 100dvw;
	max-height: 100dvh;
	gap: var(--split-pane-divider-size);
}

wrapping-pane>div {
	display: flex;
	flex-direction: row;
	flex: 0 0 auto;
	align-items: center;
	padding: 2px;
	overflow-y: auto;
	width: 100%;
	box-sizing: border-box;
	background-color: rgb(50, 50, 50);
}

footer-element {
	display: flex;
	z-index: 1;
	flex: 0 0 content;
	gap: 32px;
	padding: 4px;
	background-color: rgb(50, 50, 50);
	overflow-x: auto;
	box-sizing: border-box;
}