viewport-3d-pane-stripe {
    display: flex;
    height: fit-content;
    width: 100%;
    padding: 2px;
    background-color: var(--kayo-ui-surface-color);
}

viewport-3d-pane:hover viewport-3d-pane-stripe {
    background-color: var(--kayo-ui-surface-hover-color);
}