check-box {
	cursor: pointer;
	display: inline-flex;
	flex: 0 0 0px;
	padding: 1px;
	background-color: rgb(20, 20, 20);
	border: 1px solid rgb(28, 28, 28);
	border-radius: var(--radius);
}

check-box:hover {
	background-color: rgb(28, 28, 28);
}

check-box svg {
	width: 12px;
	height: 12px;
	stroke: white;
}

check-box:state(checked) {
	background-color: var(--accent-color);
	border-color: var(--accent-color-hover);
}

check-box:state(checked):hover {
	background-color: var(--accent-color-hover);
}
